@{string pageTitle = ViewBag.Title; }
    <div class="row border rounded"  style="margin-bottom:10px">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <h4>@Model.ModelYear @Model.ModelName @Model.MakeName </h4>
            <p><img src="@Url.Content("~/images/" + Model.ImageFileName)" /></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table>
                <tbody>
                    <tr>
                        <td><strong>Body  Style: </strong></td>
                        <td>@Model.BodyTypeName</td>
                        <td><strong>Interior: </strong></td>
                        <td>@Model.InteriorColorName</td>
                        <td><strong>Sale Price: </strong></td>
                        <td>$@Model.SalePrice</td>
                    </tr>
                    <tr>
                        <td><strong>Manual: </strong></td>
                        <td>@Model.IsManual</td>
                        <td><strong>Mileage: </strong></td>
                        <td>@Model.Mileage</td>
                        <td><strong>MSRP: </strong></td>
                        <td>$@Model.RetailPrice</td>
                    </tr>
                    <tr>
                        <td><strong>Color: </strong></td>
                        <td>@Model.ExteriorColorName</td>
                        <td><strong>VIN #: </strong></td>
                        <td>@Model.VIN</td>
                    </tr>
                    @{ if (pageTitle.Contains("Details"))
                        {
                            <tr>
                                <td><strong>Description: </strong></td>
                                <td>@Model.VehicleDesc</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{ switch (pageTitle)
                {
                    case "Inventory Used Results":
                    //fall through
                    case "Inventory New Results":
                        @Html.ActionLink("Details", "Details", "Inventory", new { vin = Model.VIN }, new { @class = "btn btn-outline-secondary float-right mt-auto" })
                        break;
                    case "Inventory Details":
                        @Html.ActionLink("Contact", "Contact", "Home", new { vin = Model.VIN }, new { @class = "btn btn-outline-secondary float-right" })
                        break;
                    case "Sales Inventory Results":
                        if (Request.IsAuthenticated) {@Html.ActionLink("Purchase", "Purchase", "Sales", new { vin = Model.VIN }, new { @class = "btn btn-outline-secondary float-right align-baseline" })}
                        break;
                    case "Admin Inventory Results":
                        if (Request.IsAuthenticated) {@Html.ActionLink("Edit", "EditVehicle", "Admin", new { vin = Model.VIN }, new { @class = "btn btn-outline-secondary float-right align-baseline" })}
                        break;
                    case "Purchase Details":
                        //Nothing here
                        break;
                }
            }
        </div>
    </div>